## --- Build e Compilação (.NET Padrão) ---
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/


project.lock.json
project.fragment.lock.json
artifacts/
*.nupkg
*.snupkg


.vs/
*.user
*.suo
*.userosscache
*.sln.docstates


# Isso resolve o arquivo WebApi.sln.DotSettings.user da sua imagem
.idea/
*.sln.iml
*.DotSettings.user


.vscode/

## --- Banco de Dados e Segredos ---
# SQLite (Garante que o loja.db não suba)
*.db
*.db-shm
*.db-wal

# Segredos locais
secrets.json

## --- Arquivos Temporários ---
ScaffoldingReadMe.txt
~$*
*~
CodeCoverage/
*.binlog
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
nunit-*.xml
Thumbs.db
.DS_Store